<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#buttons button').each(function () {
                $(this).html($(this).val());
                $(this).bind("click", event => {
                    $.getJSON("/" + $(this).val(), function (response) {
                        $("#console").append(event.target.innerHTML + " " + response.message + "<br>");
                    });
                });
            });

            $('#clearConsole').bind("click", function (event) {
                $("#console").html("");
            });

        });
    </script>
</head>

<body>

    <div id="buttons">
        <button value="velador"></button>
        <br>
        <br>
        <button value="luzCama"></button>
        <br>
        <br>
        <button value="mute"></button>
        <br>
        <br>
        <button value="ventLights"></button>
        <br>
        <br>
        <br>
    </div>

    <div id="console"></div>
    <button id="clearConsole">clear</button>
    <div id="serverConsole"></div>
    <button id="clearServerConsole">clear</button>

</body>

</html>