<!DOCTYPE html>
<html>
<style>

    .FixedHeightContainer
    {
        font-size: 9px;
        height: 160px;
        width:380px;
        padding:3px;
        background:#000307;
    }
    .Content
    { font-size: 9px;
        height:110px;
        overflow:auto;
        background:#fff;
    }

</style>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#buttons button').each(function () {
                $(this).html($(this).val());
                $(this).bind("click", event => {
                    $.getJSON("/" + $(this).val(), function (response) {
                        $("#console").append(event.target.innerHTML + " " + response.message + "<br>");
                    });
                });
            });

            $('#clearConsole').bind("click", function (event) {
                $("#console").html("");
            });

            const domain = window.self.location.hostname;

            const socket = new WebSocket("ws://" + domain + ":8080/wsServer");

            socket.onopen = function () {
                console.log("Status: Connected");
            };

            socket.onmessage = function (e) {
                $("#serverConsole").append(e.data );
            };

            $('#clearServerConsole').bind("click", function (event) {
                $("#serverConsole").html("");
            });


        });
    </script>
</head>

<body>

    <div id="buttons">
        <button value="velador"></button>
        <br>
        <br>
        <button value="luzCama"></button>
        <br>
        <br>
        <button value="mute"></button>
        <br>
        <br>
        <button value="ventLights"></button>
        <br>
        <br>
    </div>

    <div class="FixedHeightContainer">
        <h2 style="vertical-align: middle;">
            <span style="color:#fff">Web Console</span>
            &nbsp;&nbsp;
            <button id="clearConsole">clear</button>
        </h2>
        <div class="Content" id="console"></div>
    </div>

    <br>
    <br>
    <div class="FixedHeightContainer">
        <h2 style="vertical-align: middle;">
            <span style="color:#fff">Server Console</span>
            &nbsp;&nbsp;
            <button id="clearServerConsole">clear</button>
        </h2>
        <div class="Content" id="serverConsole"></div>
    </div>

</body>

</html>